# Python
__pycache__/
*.pyc
.venv/
venv/
.env

# Data
data/raw/*
!data/raw/.gitkeep
lakehouse/**/*.parquet
lakehouse/**/*.duckdb

# Notebook checkpoints
.ipynb_checkpoints/

# Power BI temporary files
powerbi/*.tmp

# Chroma vector store
apps/api/chroma_db/

# Local logs
*.log
